.container{
    width: 70%;
    margin: 0 auto;
    font-family: 'Calibri', Times New Roman, serif;
}

header{
    background-color: rgb(0, 255, 234);
    font-family: 'Calibri', Times New Roman, serif;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

h1 {
    font-size: 38px;
}

header p{
    font-size: 18px;
    font-weight: medium;
}

.link {
    color: black;
}

h2{
    text-align: left;
    text-decoration: underline;
}

span{
    font-weight: bold;
}

.floaters{
    float: right;
    text-align: right;
    font-weight: normal;
    font-style: italic;
}

.experience{
    padding-bottom: 2%;
}

.icons{
    height: 15px;

}